<div class="jumbotron text-center">
    <h1 style="font-family:Lobster;font-size: 50pt">Community & Extracurriculars</h1>
	<p style="font-family:Satisfy;font-size: 12pt">"If opportunity doesn't knock, build a door" - Milton Berle</p>
</div>
<div class="container-fluid" style="padding-bottom:30px;" id="main">
  <div ng-repeat="project in vm.projects" class="siteContainer proj1">
  	<a class="divLink" ng-href="/#!/projects/{{ project._id }}"></a>
    <div class="col">
      <p style="font-size: 18pt;"><b>{{project.name}}</b></p>
      <p style="font-size: 12pt;">{{project.caption}}</p>
      <ul>
        <li ng-repeat="bullet in project.bullets" style="font-size: 12pt;">{{ bullet }}</li>
      </ul>
      <p ng-if="project.links.length != 0" style="font-size: 18pt;">For more information, check out these links!</p>
      <ul>
        <li ng-repeat="link in project.links" style="font-size: 18pt;"><a href="{{ link[1] }}">{{ link[0] }}</a></li>
      </ul>
    </div>
	 </div>
</div>